/* ---------------------
Colors
--------------------- */

$primary: #4CAF50;
$primaryDark: #388E3C;

$black: #1B242F;
$blackLight: #323A44;

$white: #FFFFFF;
$grey: #F5F5F5;
$greyDark: #C0C0C0;

$typoPrimary: #616161;

$success: #8CD250;
$error: #9f3a38;