.social {
  width: 100%;
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 0;

  .social-item {
    a {
      display: block;
      font-size: 25px;
      padding: 10px 0;
      cursor: pointer;
      color: $blackLight;

      &.active,
      &:hover {
        color: $primary;
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }
}
