#contact{
    // height: 100vh;
    background: $blackLight;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;

    .section-inner{
        max-width: 600px;
    }

    .h2{
        color: $white;

        .h2-bar{
            background: $white;
        }
    }

    p{
        color: $white;
    }

}