#home {
  background: black;
  overflow: hidden;

  .bg-home-wrapper {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .bg-home {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  #hexagon-hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .content {
    z-index: 2;
    pointer-events: none;
    text-align: center;
    width: 80%;
    @include block-center-h();
    margin-top: 50px;

    @include breakpoint(phablet) {
      width: 60%;
    }

    @include breakpoint(tablet) {
      width: 70%;
      max-width: 1000px;
      margin-top: 0;
      @include block-center-vh();
    }

    &.hide-for-game {
      img.logo {
        opacity: 0.2;
        // transition: 0.5s;
        transform: translateY(-100px) scale(0.9);
      }
      
      h1 {
        opacity: 0.2;
        // transition: 0.5s;
        transform: translateY(100px) scale(0.9);
      }
    }

    .logo {
      width: 100%;
      transition: 0.5s;
    }

    .h1 {
      font-family: Open Sans, sans-serif;
      font-size: 22px;
      transition: 0.5s;

      span {
        color: $primary;
      }
    }
  }
}
