body {
  font-family: Roboto, sans-serif;
  color: $black;
}

.container {
  .sidebar {
    background: $black;
    height: 60px;
    width: 100%;
    position: fixed;
    color: $white;
    z-index: 2;
    bottom: 0;

    @include breakpoint(tablet) {
      height: auto;
      width: 60px;
      top: 0;
    }

    .social {
      width: 100%;
      text-align: center;
      display: none;
      position: absolute;
      bottom: 0;

      @include breakpoint(tablet) {
        display: inline-block;
      }

      .social-item {
        a {
          display: block;
          font-size: 25px;
          padding: 10px 0;
          cursor: pointer;
          color: $blackLight;

          &.active,
          &:hover {
            color: $primary;
          }

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }
  }

  .main {
    height: 100vh;
    position: relative;
    overflow: hidden;

    @include breakpoint(tablet) {
      margin-left: 60px;
    }

    section {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 60px;
      overflow-y: auto;
      overflow-x: hidden;

      @include breakpoint(tablet) {
        padding-bottom: 100px;
      }

      &:not(#home) {
        margin-right: -10px;

        @include breakpoint(tablet) {
          margin-right: 0;
        }
      }

      .section-inner {
        max-width: 1200px;
        margin: 0 auto;
      }
    }
  }
}
